<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>파일 상세 정보</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <h1>파일 상세 정보</h1>
</header>

<main>
  <!-- 상세 정보 표시 -->
  <section>
    <h2>파일 정보</h2>
    <table>
      <tbody>
      <tr>
        <th>파일 ID</th>
        <td th:text="${file.id ?: 'N/A'}"></td>
      </tr>
      <tr>
        <th>제목</th>
        <td th:text="${file.title ?: '없음'}"></td>
      </tr>
      <tr>
        <th>파일 이름</th>
        <td th:text="${file.name ?: '이름 없음'}">파일 이름</td>
      </tr>
      <tr>
        <th>카테고리</th>
        <td th:text="${file.roomId ?: '미정'}"></td>
      </tr>
      <tr>
        <th>업로드 날짜</th>
        <td th:text="${file.createdAt != null ? #dates.format(file.createdAt, 'yyyy-MM-dd HH:mm') : '알 수 없음'}"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <!-- Presigned URL을 직접 렌더링 -->
  <div th:if="${description != null}">
    <p>Description: <span th:text="${description}"></span></p>
  </div>

  <div th:if="${fileURL != null}">
    <a th:href="${fileURL}" download="${file.name}" th:text="'다운로드 ' + ${file.name}"/>
  </div>


  <!--<div th:if="${fileURL != null}">
    <a th:href="${fileURL}" download th:text="'다운로드 ' + ${file.name}"></a>
  </div>-->

  <!-- 뒤로 가기 버튼 -->
  <section>
    <a th:href="@{/api/dataroom}" class="button">목록으로 돌아가기</a>
  </section>
</main>
</body>
</html>