<body>
	<section layout:fragment="content">
		<div class="container">
			<!-- 좌측 사이드바 -->
			<div class="sidebar">
				<img src="../images/ondam.png" width="60"
					style="display: block; margin: 0 auto 20px;" />
				<h2>전사게시판</h2>
				<div class="menu-item" onclick="location.href='/board/boardMain'">전체게시판</div>
				<div class="menu-item" onclick="location.href='/board/boardBlind'">익명게시판</div>
				<div class="menu-item" onclick="location.href='/board/boardNoti'">공지사항</div>
				<div class="menu-item" onclick="location.href='/board/boardDepartment'">부서게시판</div>
				<div class="menu-item" onclick="location.href='/board/boardEvent'">사내소식</div>
			</div>

			<!-- 본문 -->
			<div class="main-content">
				<div class="header">
					<h1>부서 게시판</h1>
					<div class="buttons">
						<button onclick="location.href='/board/boardWrite'">글쓰기</button>
					</div>
				</div>

				<!-- 게시글 리스트 -->
				<div class="card" th:each="board : ${boardList}">
					<div class="card-title">
						<a th:href="@{'/boardDetail/' + ${board.id}}"
							th:text="${board.title}"
							style="text-decoration: none; color: #212529;"></a>
					</div>

					<div class="card-content" th:text="${board.content}">내용전달드립니다!</div>

					<div class="card-footer">
						<div class="writer-info">
							<span th:text="${board.authorId}">작성자</span> · <span
								th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd')}">2025.04.01</span>
						</div>
						<div class="icons">
							<span onclick="likePost(this)">♥ <span>0</span></span>
							<span>💬 <span>0</span></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>
