<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/style/globals.css}" />
    <link rel="stylesheet" th:href="@{/style/login.css}" />
</head>
<body>
<div class="login">
    <div class="mainlogo">
        <div class="logo">
            <img class="ondam-w" th:src="@{/images/ondam_W.png}" />
        </div>
        <div class="logo2">
            <div class="ondam">Ondam</div>
            <div class="groupware">Groupware</div>
        </div>
    </div>
    <div class="loginbox">
        <div class="loginbox2">
            <div class="idbox">
                <div class="div">플레이스홀더</div>
            </div>
            <div class="idbox">
                <div class="div">플레이스홀더</div>
            </div>
        </div>
        <button class="loginbtn">
            <div class="div2">로그인하기</div>
        </button>
        <div class="qbox">
            <div class="div3">아이디와 비밀번호를 잊으셨나요?</div>
            <button class="qbtn">
                <div class="div4">문의하기</div>
            </button>
        </div>
    </div>
</div>

</body>
</html>