<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../../static/style/globals.css" />
    <link rel="stylesheet" href="../../../static/style/approval_done.css" />
</head>
<body>
<div class="approval-done">
    <div class="main">
        <div class="top">
            <div class="nav">
                <div class="title">
                    <div class="div">전자결재</div>
                </div>
                <div class="menu">
                    <div class="div2">+ 작성하기</div>
                    <div class="div3">|</div>
                    <div class="div4">수신함</div>
                    <div class="div3">|</div>
                    <div class="div4">발신함</div>
                    <div class="div3">|</div>
                    <div class="div5">완료</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="article">
                <div class="btnframe">
                    <button class="btnwhite">
                        <div class="div6">선택 삭제</div>
                    </button>
                </div>
                <div class="tableset">
                    <div class="tabletitle">
                        <input class="checkbox" type="checkbox" />
                        <div class="div7">|</div>
                        <div class="div8">번호</div>
                        <div class="div7">|</div>
                        <div class="div9">제목</div>
                        <div class="div7">|</div>
                        <div class="div10">문서분류</div>
                        <div class="div7">|</div>
                        <div class="div11">작성자</div>
                        <div class="div7">|</div>
                        <div class="div12">작성일</div>
                        <div class="div7">|</div>
                        <div class="div10">결재상태</div>
                    </div>
                    <div class="table">
                        <input class="checkbox" type="checkbox" />
                        <div class="div7">|</div>
                        <div class="_1">1</div>
                        <div class="div7">|</div>
                        <div class="div13">ㅇㅇ보고의 건</div>
                        <div class="div7">|</div>
                        <div class="div14">기안문</div>
                        <div class="div7">|</div>
                        <div class="div15">홍길동</div>
                        <div class="div7">|</div>
                        <div class="_2025-03-25">2025.03.25</div>
                        <div class="div7">|</div>
                        <div class="div14">미승인</div>
                    </div>
                </div>
                <div class="pagenumset">
                    <img class="before" src="before0.svg" />
                    <div class="pagenum">
                        <div class="_12">1</div>
                        <div class="_2">2</div>
                    </div>
                    <img class="next" src="next0.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="header"></div>
</div>

</body>
</html>
