<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/style/globals.css}" />
    <link rel="stylesheet" th:href="@{/style/approval_done_file_write.css}" />
</head>
<body>
<div class="approval-done-file-write">
    <div class="main">
        <div class="top">
            <div class="nav">
                <div class="title">
                    <div class="div">전자결재</div>
                </div>
                <div class="menu">
                    <div class="div2">+ 작성하기</div>
                    <div class="div3">|</div>
                    <div class="div4">수신함</div>
                    <div class="div3">|</div>
                    <div class="div4">발신함</div>
                    <div class="div3">|</div>
                    <div class="div5">반려함</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="article">
                <div class="btnframe">
                    <button class="btnwhitebefore">
                        <img class="before" src="before0.svg" />
                        <div class="div6">목록보기</div>
                    </button>
                    <button class="btnwhite">
                        <div class="div6">재상신</div>
                    </button>
                    <button class="btnwhite">
                        <div class="div6">삭제</div>
                    </button>
                </div>
                <div class="contents">
                    <div class="contentstitle">
                        <div class="div7">ㅇㅇ보고의 건</div>
                        <div class="div8">|</div>
                        <div class="div9">홍길동</div>
                        <div class="div8">|</div>
                        <div class="_2025-03-25">2025.03.25</div>
                    </div>
                    <div class="frame-114"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <div class="nav">
                <div class="title">
                    <div class="div">전자결재</div>
                </div>
                <div class="menu">
                    <div class="div2">+ 작성하기</div>
                    <div class="div3">|</div>
                    <div class="div4">수신함</div>
                    <div class="div3">|</div>
                    <div class="div4">발신함</div>
                    <div class="div3">|</div>
                    <div class="div5">완료</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="article">
                <div class="contentsselect">
                    <div class="frame-137">
                        <div class="arraysetdown">
                            <button class="arraybtn">
                                <div class="div10">기안서</div>
                                <img class="downbtn" src="downbtn0.svg" />
                            </button>
                            <div class="div11">기안서</div>
                        </div>
                        <div class="arraysetcalander">
                            <button class="arraybtn">
                                <div class="div10">마감기한</div>
                                <img class="downbtn2" src="downbtn1.svg" />
                            </button>
                            <div class="div11">2025. 04. 23</div>
                        </div>
                    </div>
                    <div class="btnset">
                        <button class="btnorange">
                            <div class="div12">상신하기</div>
                        </button>
                        <button class="btnwhite">
                            <div class="div6">취소하기</div>
                        </button>
                    </div>
                </div>
                <div class="contents2">
                    <div class="approvaltext"></div>
                    <div class="approvalline">
                        <div class="linetitle">
                            <div class="div5">결재선</div>
                        </div>
                        <div class="linecontents">
                            <div class="lineprofile">
                                <div class="profile">
                                    <div class="profileimage">
                                        <img class="profileimage2" src="profileimage1.png" />
                                    </div>
                                    <div class="div13">홍길동 과장</div>
                                </div>
                                <button class="approvalbtno">
                                    <div class="div14">승인</div>
                                </button>
                            </div>
                            <div class="lineprofile">
                                <div class="profile">
                                    <div class="profileimage">
                                        <img class="profileimage2" src="profileimage3.png" />
                                    </div>
                                    <div class="div13">홍길동 대표</div>
                                </div>
                                <button class="approvalbtnw">
                                    <div class="div15">미결</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header"></div>
</div>

</body>
</html>
