<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../../static/style/globals.css" />
    <link rel="stylesheet" href="../../../static/style/approval_done_file.css" />
</head>
<body>
<div class="approval-done-file">
    <div class="main">
        <div class="top">
            <div class="nav">
                <div class="title">
                    <div class="div">전자결재</div>
                </div>
                <div class="menu">
                    <div class="div2">+ 작성하기</div>
                    <div class="div3">|</div>
                    <div class="div4">수신함</div>
                    <div class="div3">|</div>
                    <div class="div4">발신함</div>
                    <div class="div3">|</div>
                    <div class="div5">반려함</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="article">
                <div class="btnframe">
                    <button class="btnwhitebefore">
                        <img class="before" src="before0.svg" />
                        <div class="div6">목록보기</div>
                    </button>
                    <button class="btnwhite">
                        <div class="div6">재상신</div>
                    </button>
                    <button class="btnwhite">
                        <div class="div6">삭제</div>
                    </button>
                </div>
                <div class="contents">
                    <div class="contentstitle">
                        <div class="div7">ㅇㅇ보고의 건</div>
                        <div class="div8">|</div>
                        <div class="div9">홍길동</div>
                        <div class="div8">|</div>
                        <div class="_2025-03-25">2025.03.25</div>
                    </div>
                    <div class="frame-114"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <div class="nav">
                <div class="title">
                    <div class="div">전자결재</div>
                </div>
                <div class="menu">
                    <div class="div2">+ 작성하기</div>
                    <div class="div3">|</div>
                    <div class="div4">수신함</div>
                    <div class="div3">|</div>
                    <div class="div4">발신함</div>
                    <div class="div3">|</div>
                    <div class="div5">완료</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="article">
                <div class="btnframe">
                    <button class="btnwhitebefore">
                        <img class="before2" src="before1.svg" />
                        <div class="div6">목록보기</div>
                    </button>
                    <button class="btnwhite">
                        <div class="div6">재상신</div>
                    </button>
                </div>
                <div class="contentsset">
                    <div class="contentstitle2">
                        <div class="div7">ㅇㅇ보고의 건</div>
                        <div class="div8">|</div>
                        <div class="div9">홍길동</div>
                        <div class="div8">|</div>
                        <div class="_2025-03-25">2025.03.25</div>
                    </div>
                    <div class="frame-139">
                        <div class="contents2"></div>
                        <div class="approvalline">
                            <div class="linetitle">
                                <div class="div5">결재선</div>
                            </div>
                            <div class="linecontents">
                                <div class="lineprofile">
                                    <div class="profile">
                                        <div class="profileimage">
                                            <img class="profileimage2" src="profileimage1.png" />
                                        </div>
                                        <div class="div10">홍길동 과장</div>
                                    </div>
                                    <button class="approvalbtno">
                                        <div class="div11">승인</div>
                                    </button>
                                </div>
                                <div class="lineprofile">
                                    <div class="profile">
                                        <div class="profileimage">
                                            <img class="profileimage2" src="profileimage3.png" />
                                        </div>
                                        <div class="div10">홍길동 대표</div>
                                    </div>
                                    <div class="frame-141">
                                        <button class="approvalbtnw">
                                            <div class="div12">반려</div>
                                        </button>
                                        <div class="frame-140">
                                            <div class="div12">사유:ㅇㅇㅇㅇㅇ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header"></div>
</div>

</body>
</html>
