body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header h1 {
    text-align: center;
    margin: 20px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
table th {
    background-color: #f4f4f4;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.no-data-message {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
}
