<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="data.mapper.ChatGroupsMapper">

	<!-- C: 그룹 생성 -->
	<insert id="createChatGroup" parameterType="ChatGroupsDto" useGeneratedKeys="true" keyProperty="id">
		insert into
		chat_groups (name, createdAt, createdBy)
		values (#{name}, now(),
		#{createdBy})
	</insert>

	<!-- R: 그룹 ID로 조회 -->
	<select id="readChatGroupById" parameterType="int"
		resultType="ChatGroupsDto">
		select * from chat_groups where id = #{id}
	</select>

	<!-- R: 모든 그룹 조회 -->
	<select id="readAllChatGroups" resultType="ChatGroupsDto">
		select * from
		chat_groups order by id desc
	</select>

	<select id="readGroupById" parameterType="int"
		resultType="ChatGroupsDto">
		select * from chat_groups where id = #{groupId}
	</select>

	<select id="readGroupsByUserId" parameterType="int"
		resultType="ChatGroupsDto">
		select cg.*
		from chat_groups cg
		join junction_chat_users_groups j on cg.id = j.groupid
		where j.userid = #{userId}
	</select>

	<!-- U: 그룹 수정 -->
	<update id="updateChatGroup" parameterType="ChatGroupsDto">
		update chat_groups
		set name = #{name}
		where id = #{id}
	</update>

	<!-- D: 그룹 삭제 -->
	<delete id="deleteChatGroup" parameterType="int">
		delete from
		chat_groups where id = #{id}
	</delete>

</mapper>
