<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.JunctionChatUsersGroupsMapper">

    <!-- C -->
    <insert id="createJunction" parameterType="JuncChatUsersGroupsDto">
        insert into junction_chat_users_groups (userId, groupId)
        values (#{userId}, #{groupId})
    </insert>

    <!-- R -->
    <select id="readJunctionByUserId" resultType="JuncChatUsersGroupsDto" parameterType="int">
        select * from junction_chat_users_groups
        where userId = #{userId}
    </select>

    <select id="readUsersByGroupId" resultType="JuncChatUsersGroupsDto" parameterType="int">
        select * from junction_chat_users_groups
        where groupId = #{groupId}
    </select>

    <select id="readExistsJunction" resultType="boolean">
        select count(*) > 0
        from junction_chat_users_groups
        where userId = #{userId} and groupId = #{groupId}
    </select>
    
    <insert id="createUserGroupLink" parameterType="JuncChatUsersGroupsDto">
        insert into junction_chat_users_groups (userid, groupid)
        values (#{userId}, #{groupId})
    </insert>

    <!-- D -->
    <delete id="deleteJunction" parameterType="JuncChatUsersGroupsDto">
        delete from junction_chat_users_groups
        where userId = #{userId} and groupId = #{groupId}
    </delete>
</mapper>
