<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.TeamMapper">
    <insert id="createTeam" parameterType="map">
        insert into team (departmentId, name)
        values (#{departmentId}, #{name})
    </insert>
    <select id="readTeamsByDepId" parameterType="int" resultType="TeamDto">
        select *
        from team
        where departmentId = #{departmentId}
    </select>
</mapper>